server:
  port: 8083
  
#datasource configuration  
spring:
  datasource:
    url: jdbc:mysql://database-3.cdea6gmw0gwd.us-east-1.rds.amazonaws.com:3306/cms_claim_detail?createDatabaseIfNotExist=true
    username: admin
    password: 1234567890
    driver-class-name: com.mysql.cj.jdbc.Driver
   
  # jpa configuration 
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL57Dialect
    show-sql: true
  
  application:
    name: cms-claim-service
   
# dailect spring boot can auto detects, but we can set here also
    
eureka:
  instance:
    prefer-ip-address: true
  client:
    fetch-registry: true
    register-with-eureka: true
    service-url:
      defaultZone: http://34.236.123.18:8761/eureka
  